* {
    font-family: roboto, montserrat, lato, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}
.header {
    background-color: #1f2937;
    color: #F9FAF8;
}

h1 {
    font-size: 24px;
}

h2 {
    text-align: center;
    color: #636464;
    padding: 30px;
    font-size: 36px;
}
h3 {
    font-size: 48px;
    font-weight: 900;
}

a, .secondheader {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 700px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 700;
}

.mainimg {
    max-width: 700px;
    width: 100%;
    min-width: 300px;
}

.subimg {
    border: 5px solid #3882f6;
    width: 200px;
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 30px 60px 60px 60px;
}

.headtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}



.headbot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infofont {
    color: #636464;
    font-size: 18px;
    max-width: 180px;
    text-align: center;
    margin: 0 auto 100px auto;
}

.information {
    display: flex;
    justify-content:center;
    gap: 45px;
}

.quote {
    background-color: #e5e7eb;
    padding: 75px 125px;
}

.quotefont {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: justify;
    max-width: 1000px;
    margin: auto;
}

.citefont {
    font-size: 36px;
    font-style: bold;
    font-weight: 700;
    text-align: right;
    max-width: 1000px;
    margin: auto;
}

.signup {
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    margin: 100px auto /*150px*/;
    padding: 020px 50px;
    min-width: 500px;
    max-width: 1200px;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.call {
    font-size: 24px;
    margin: 5px;
}
.sign {
    margin: 5px;
    font-size: 12px;
}

.buttonborder {
    border:1px solid #e5e7eb;
    min-width: 81px;
}

footer {
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 12px;
    padding: 30px;
}